---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/130ded7d64434463a16fd9f87d081e06
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0827e7c-a7e5-43f2-8377-3afad05bfff8
      etag:
      - W/"d5-i43+9QGwlfvx1oYkjMjsbBIt/0A"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find page with ID: 130ded7d-6443-4463-a16f-d9f87d081e06. Make sure the
        relevant pages and databases are shared with your integration."}'
  recorded_at: Mon, 02 Oct 2023 22:45:09 GMT
recorded_with: VCR 6.2.0
