---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/28fa3f47-6f3c-4bf6-a522-40e7274d7628/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a915baa9-cefe-49a0-bfb0-020d0db67d53
      etag:
      - W/"1a6f-la1hAtMZ3CzESmO2SbkX57npyhs"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"004cb26d-3105-4821-a41e-0e159240d5e6","parent":{"type":"page_id","page_id":"28fa3f47-6f3c-4bf6-a522-40e7274d7628"},"created_time":"2023-10-02T23:15:00.000Z","last_edited_time":"2023-10-02T23:15:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Lecture
        1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lecture
        1","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"ba5376a7-d0c4-4f4e-a6d5-5875d3a54c4b","parent":{"type":"page_id","page_id":"28fa3f47-6f3c-4bf6-a522-40e7274d7628"},"created_time":"2023-10-02T23:15:00.000Z","last_edited_time":"2023-10-02T23:15:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
        is a theoretical course. Requires basics like Karp-reduction (converting decidable
        problems to equivalent ones) and circuit model (logic for CS). The goal of
        this lecture is to understand the development of cryptography in a quantum
        world. We will cover topics such as the following - ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a theoretical course. Requires basics like Karp-reduction (converting decidable
        problems to equivalent ones) and circuit model (logic for CS). The goal of
        this lecture is to understand the development of cryptography in a quantum
        world. We will cover topics such as the following - ","href":null}],"color":"default"}},{"object":"block","id":"98f8a489-598b-4e94-90f5-024c575f0ea5","parent":{"type":"page_id","page_id":"28fa3f47-6f3c-4bf6-a522-40e7274d7628"},"created_time":"2023-10-02T23:15:00.000Z","last_edited_time":"2023-10-02T23:15:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"Quantum
        algorithms - Shor’s, Grover’s (till Week 3)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Quantum
        algorithms - Shor’s, Grover’s (till Week 3)","href":null}],"color":"default"}},{"object":"block","id":"cb186daa-8dfa-4839-a113-3eef6e9545d1","parent":{"type":"page_id","page_id":"28fa3f47-6f3c-4bf6-a522-40e7274d7628"},"created_time":[...]
