---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/4755984b-8b0a-4e0d-b53f-c9df5085c764/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5b7cde07-0e15-441b-b858-60b6862132e3
      etag:
      - W/"260c-zAIN37YGhBLqcSAPEHe8rwQ+GTI"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"e1d7002a-c3f8-42b3-99df-6f3978e19e63","parent":{"type":"page_id","page_id":"4755984b-8b0a-4e0d-b53f-c9df5085c764"},"created_time":"2023-10-02T23:16:00.000Z","last_edited_time":"2023-10-02T23:16:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Lecture
        1 - Introduction","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lecture
        1 - Introduction","href":null},{"type":"text","text":{"content":" ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"gray"},"plain_text":"
        ","href":null},{"type":"mention","mention":{"type":"date","date":{"start":"2023-09-28","end":null,"time_zone":null}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"gray"},"plain_text":"2023-09-28","href":null},{"type":"text","text":{"content":"
        ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"gray"},"plain_text":"
        ","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"d0554b05-7b28-4f25-8049-1742663a7ba6","parent":{"type":"page_id","page_id":"4755984b-8b0a-4e0d-b53f-c9df5085c764"},"created_time":"2023-10-02T23:16:00.000Z","last_edited_time":"2023-10-02T23:16:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"We
        build models that help us to understand data in order to obtain meaningful
        insights . All of the applications require ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"We
        build models that help us to understand data in order to obtain meaningful
        insights . All of the applications require ","href":null},{"type":"text","tex[...]
