---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/598028b2-30d8-422b-9cc2-605be63871ab/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1485511a-361e-47bc-88af-6a5aabfa1d23
      etag:
      - W/"2f1e-LUZGOIubtfa8XKC5aGR43Cy9m7w"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"af11530f-cf7c-431d-95d4-4d39896cc4a3","parent":{"type":"page_id","page_id":"598028b2-30d8-422b-9cc2-605be63871ab"},"created_time":"2023-10-02T23:16:00.000Z","last_edited_time":"2023-10-02T23:16:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Lecture
        1 ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lecture
        1 ","href":null},{"type":"mention","mention":{"type":"date","date":{"start":"2023-09-29","end":null,"time_zone":null}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"gray"},"plain_text":"2023-09-29","href":null},{"type":"text","text":{"content":"
        ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"gray"},"plain_text":"
        ","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"86578dc6-e672-44c9-bd64-ca9bfe0ec03d","parent":{"type":"page_id","page_id":"598028b2-30d8-422b-9cc2-605be63871ab"},"created_time":"2023-10-02T23:16:00.000Z","last_edited_time":"2023-10-02T23:16:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Syllabus
        -","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Syllabus
        -","href":null}],"color":"default"}},{"object":"block","id":"0a4c4ee5-f4a1-4193-83d3-265218fa7e0c","parent":{"type":"page_id","page_id":"598028b2-30d8-422b-9cc2-605be63871ab"},"created_time":"2023-10-02T23:16:00.000Z","last_edited_time":"2023-10-02T23:16:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"Geometry
        theories","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Geometry
        theories","href":null}],"color":"default"}},{"object":"block","id":"ed0a98cd-b129-4098-b07f-ff6ce8ef8374","parent":{"type":"page_id","page_id":"598028b2-30d8-422b-9cc2-605be63871ab"},"created_time":"2023-10-02T23:16:00.000Z","last_edited_time":"2023-10-02T23:16:00.0[...]
