---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/5a754175-ccf8-41d0-9568-23b0511795d6/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 632d04c7-b981-466a-986e-328e8fe23fe2
      etag:
      - W/"5c-enSBc2BsmuVZI7E6AqgMElbeAQM"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
  recorded_at: Mon, 02 Oct 2023 23:22:42 GMT
recorded_with: VCR 6.2.0
