---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/5a754175ccf841d0956823b0511795d6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b286f885-55ad-45d1-b12a-12a25ba3bdc8
      etag:
      - W/"55f-isBCmCLsE8IbTdJW2+qZdN68nio"
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"5a754175-ccf8-41d0-9568-23b0511795d6","created_time":"2023-10-02T23:14:00.000Z","last_edited_time":"2023-10-02T23:29:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e3f98c99-8ddb-4960-9685-0887a0771340"},"archived":false,"properties":{"title":{"id":"V%5DvZ","type":"rich_text","rich_text":[{"type":"text","text":{"content":"About","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"About","href":null}]},"categories":{"id":"b%5B%7Cq","type":"multi_select","multi_select":[]},"layout":{"id":"d%40Dd","type":"rich_text","rich_text":[{"type":"text","text":{"content":"post","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"post","href":null}]},"Courses":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"About","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"About","href":null}]}},"url":"https://www.notion.so/About-5a754175ccf841d0956823b0511795d6","public_url":null}'
  recorded_at: Mon, 02 Oct 2023 23:30:09 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/5a754175ccf841d0956823b0511795d6/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - abd4d46a-d1e7-4ab8-8730-99eff79fd1cd
      etag:
      - W/"27e3-R/CvN+rpeqce1RcoC/f/E7MmkF4"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"81556fb9-2297-4354-8336-fd9178abaa65","parent":{"type":"page_id","page_id":"5a754175-ccf8-41d0-9568-23b0511795d6"},"created_time":"2023-10-02T23:29:00.000Z","last_edited_time":"2023-10-02T23:29:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"<markdown>","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"<markdown>","href":null}],"color":"default"}},{"object":"block","id":"edd55569-d0c2-40d3-a642-e7b666b2b7b6","parent":{"type":"page_id","page_id":"5a754175-ccf8-41d0-9568-23b0511795d6"},"created_time":"2023-10-02T23:29:00.000Z","last_edited_time":"2023-10-02T23:29:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"has_children":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"Create
        a robot that can assist with household chores such as cleaning, cooking, and
        laundry.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Create
        a robot that can assist with household chores such as cleaning, cooking, and
        laundry.","href":null}],"color":"default"}},{"object":"block","id":"d2c07976-4f4d-4e07-aa82-7bf6e2b1[...]
