---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/c751093e851948e48651b911dbd1aa3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4655a6bc-5597-47d1-bd11-08dd64a81053
      etag:
      - W/"d5-9FhY2lK5AkDTqrCjjVuqb46Bvuk"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find page with ID: c751093e-8519-48e4-8651-b911dbd1aa3c. Make sure the
        relevant pages and databases are shared with your integration."}'
  recorded_at: Mon, 02 Oct 2023 23:09:41 GMT
recorded_with: VCR 6.2.0
