---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/e3f98c998ddb496096850887a0771340/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 34180101-bf22-4535-b0b4-f9029b769fbd
      etag:
      - W/"12aa-p4ktGbFhMqmj67UV0xPifhs+xms"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"5a754175-ccf8-41d0-9568-23b0511795d6","created_time":"2023-10-02T23:14:00.000Z","last_edited_time":"2023-10-02T23:14:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e3f98c99-8ddb-4960-9685-0887a0771340"},"archived":false,"properties":{"Tags":{"id":"b%5B%7Cq","type":"multi_select","multi_select":[]},"Courses":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5a754175ccf841d0956823b0511795d6","public_url":null},{"object":"page","id":"598028b2-30d8-422b-9cc2-605be63871ab","created_time":"2023-10-02T23:12:00.000Z","last_edited_time":"2023-10-02T23:16:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e3f98c99-8ddb-4960-9685-0887a0771340"},"archived":false,"properties":{"Tags":{"id":"b%5B%7Cq","type":"multi_select","multi_select":[{"id":"02e7e81f-32fc-44f8-9702-6791701228b0","name":"Notes","color":"yellow"}]},"Courses":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"CSE275
        - Deep Learning for 3D data","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"CSE275
        - Deep Learning for 3D data","href":null}]}},"url":"https://www.notion.so/CSE275-Deep-Learning-for-3D-data-598028b230d8422b9cc2605be63871ab","public_url":null},{"object":"page","id":"070e0ebf-fe8e-4c1f-9f2d-a1a7c91cdb88","created_time":"2023-10-02T23:12:00.000Z","last_edited_time":"2023-10-02T23:17:00.000Z","created_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"last_edited_by":{"object":"user","id":"7d5bb75b-4f13-4392-8c70-33e921994c8f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"e3[...]
