---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/e3f98c998ddb496096850887a0771342/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6576e7a8-6268-4658-8659-b7cf2708a12e
      etag:
      - W/"d9-CQTuSRnRZyQfDY6DG5zq54jr98w"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: e3f98c99-8ddb-4960-9685-0887a0771342. Make sure
        the relevant pages and databases are shared with your integration."}'
  recorded_at: Mon, 02 Oct 2023 23:54:02 GMT
recorded_with: VCR 6.2.0
