---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/f6be39f656814925a4071a0c39670197
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c257840c-b126-437a-9cca-6e8d3c5e3857
      etag:
      - W/"d5-REhfQpZby6lXj/zPFdZj8Cfv0Y4"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find page with ID: f6be39f6-5681-4925-a407-1a0c39670197. Make sure the
        relevant pages and databases are shared with your integration."}'
  recorded_at: Mon, 02 Oct 2023 22:40:24 GMT
recorded_with: VCR 6.2.0
